@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  overflow: hidden;
  font-family: 'Manrope', 'Fredericka the Great', sans-serif;
}

html, body, #root {
  height: 100%;
}

.font-logo {
  font-family: 'Manrope','UnifrakturCook', cursive;
}
